* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Playpen Sans', cursive;
}
img{
  padding: 2em;
}
input,select{
  font-weight: 600;
  color: white;
}
label{
  font-size: 0.85em;
  font-weight: 600;
  color :dodgerblue;
}
.min50{
  font-size: 16px;
}
.input {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 15px;
  max-width: 180px;
  padding: 0.45em 0.7em;
  background-color: rgb(99, 216, 255);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.input-focusBlack {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0.45em 0.7em;
  background-color: rgb(99, 216, 255);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.input:focus {
  background-color: white;
  color:rgb(99, 216, 255);
  transform: scale(1.20);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
  padding: 7px 10px;
  font-size: 0.7em;
}
.input-focusBlack:focus {
  background-color: white;
  color: rgb(99, 216, 255);
  transform: scale(1.20);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
  padding: 7px 25px;
  font-size: 0.7em;
}
::placeholder { /* Edge 12 -18 */
  color: white;
  font-size:0.9em;
}
.inputColor {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0.15em;
  background-color: rgb(99, 216, 255);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.inputColor:focus {
  background-color: white;
  transform: scale(1.25);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
.input-inline{
  margin-bottom: 10px;;
}
.input-inline{
  flex-direction: column;
}
.main-bg{
  display: flex;
  flex-direction: column;
}
.menu{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-bar{
  padding: 20px;
  width: fit-content;
  background-color: rgb(0, 0, 0);
  color:rgb(99, 216, 255);
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 16px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.QR{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 30px;
  padding-top: 10px;
}
.subQR{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  min-width: 320px;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.QR-img{
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 2em;
  align-items: center;
}
.saveQR{
  display: flex;  
  flex-direction: column;
  align-items:center;
  margin-bottom: 20px;
}

